.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav(metismenu)
      li
        a.active(href='#/')
          i.fa.fa-calendar.fa-fw
          span.d-item-title.hidden-xs Calendar
      li
        a(href='#')
          i.fa.fa-bar-chart.fa-fw
          span.d-item-title.hidden-xs Statics
      li
        a(href='#/players')
          i.fa.fa-user.fa-fw
          span.d-item-title.hidden-xs Players
      li
        a(href='#')
          i.fa.fa-users.fa-fw
          span.d-item-title.hidden-xs Groups
      li
        a(href='#/training/new')
          i.fa.fa-play.fa-fw
          span.d-item-title.hidden-xs Training
      li
        a(href='#')
          i.fa.fa-gears.fa-fw
          span.d-item-title.hidden-xs Settings
